page-password {
    .button-full {
        margin-top: 15px;
    }
    .form {
        p {
            width: auto;
        }
    }
    ion-item .text-input {
        text-align: left !important;
    }
}
